<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- Clickable Logo -->
        <a class="navbar-brand d-flex align-items-center" (click)="navigateToHome()">
            <i class="fa fa-tasks fa-lg me-2"></i>
            <span>Todo List</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- User Dropdown Button -->
                <div class="dropdown" *ngIf="showUserMenu">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownUserMenu"
                        data-bs-toggle="dropdown" (click)="toggleDropdown()">
                        <i class="fa fa-user"></i> {{ username }}
                    </button>
                    <ul class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="dropdownUserMenu">
                        <li><a class="dropdown-item" [ngClass]="{'disabled-link': true}">Profile</a></li>
                        <li><a class="dropdown-item" [ngClass]="{'disabled-link': true}">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="openLogoutModal()">Logout</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<!-- Logout Confirmation Modal -->
<div class="modal fade" #logoutModal tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark" (click)="confirmLogout()">Logout</button>
            </div>
        </div>
    </div>
</div>